//Font family
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
$font-family: "Montserrat", sans-serif;

//Colors
$primary-color: #37609c;
$primary-bg: #34649cb3;
$white-0: #fff;
$black-0: black;
$light-gray-0: #e0e0e0;
$gray-0: gray;
